NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

DATABASE_URL="postgresql://lifenote:lifenote_password@localhost:5434/lifenote_db?schema=public"

JWT_ACCESS_SECRET="change_me_access_secret"
JWT_REFRESH_SECRET="change_me_refresh_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

GOOGLE_CLIENT_ID=""
